@font-face {
    font-family: HouseSlant; 
    src: url(../fonts/HouseSlant.eot);
    src: url(../fonts/HouseSlant.eot#iefix) format('embedded-opentype'),
         url(../fonts/HouseSlant.woff) format('woff'),
         url(../fonts/HouseSlant.woff2); 
    display: swap;
        }

$text-color: #dc2a4c;
$brand-color: #ffcd18;